doctype html
head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Client Form
form(action='' name='loanrequest' method='Post')
    .container-flud.form-style
        img(src='' alt='')
        h1 Loan Request Form
        .input-style
            label(for='') Surname
            input(type='text')